@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body { background-color : #277BC0; color : black;
		margin-left : 100px; margin-right : 100px; }
h1 { font-size: 50px; font-family: 'Amatic SC', cursive; text-align : center; color : white; }
h2 { font-size: 30px; font-family: 'Roboto Mono', monospace; text-align : left; color : black; }
p { font-size: 16px; font-family: 'LINESeedKR-Bd'; color : black; }
h3 { font-size: 30px; font-family: 'Roboto Mono', monospace; text-align : left; color : #FFCB42; }
h4 { font-size: 18px; font-family: 'LINESeedKR-Bd'; text-align : left; color : white; }
h5 { font-size: 16px; font-family: 'LINESeedKR-Bd'; text-align : right; color : black; }
p strong { color : black; background : #FFCB42; }
aside > h3 { text-indent : 1em; }

nav { background: #FFCB42; right: 0; width: 1250px; }
nav ul {
            font-size: 0;
            margin: 0;
            padding: 0;
        }
nav ul li {
            display: inline-block;
            position: relative;
        }
nav ul li a {
            color: #fff;
            display: block;
            font-size: 18px;
            font-family: 'Roboto Mono', monospace;
            padding: 15px 14px;
            transition: 0.3s linear;
        }
nav ul li:hover { background: #126d9b; }

#introduction { background : ghostwhite; 
			width : 670px;
			padding : 20px;
			border-radius : 30px; 
			border : 7px solid #FFCB42; }
#hobby {
		width : 1000px;
		padding : 15px;
		border-radius : 20px; }
#interest {  
		width : 1000px;
		padding : 15px;
		border-radius : 20px; }
#touch {  
		width : 1000px;
		padding : 15px;
		border-radius : 20px; }
/* 
#photo { background : ghostwhite;
		border-style : outset; 
		border-color : #FFCB42;
		width: 880px;
		margin : 10px;
		border-width : 10px;
		padding : 0px; }
*/
#photo {  
		width : 1000px;
		padding : 15px;
		border-radius : 20px; }
#photo2 {  
		width : 700px;
		padding : 15px;
		border-radius : 20px; }
